.dashboard-container {
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f7fa;
}

.dashboard-title {
  font-size: 20px;
  font-weight: 700;
}

.dashboard-welcome {
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}

.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.restaurant-card {
  height: 230px;
  background: #fff;
  padding: 12px;
  width: 230px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.restaurant-card h4 {
  font-size: 1rem !important;
  color: #000000 !important;
  text-align: center;
  margin-bottom: 8px;
   align-items: center;
  justify-content: center;
  

  
}

.card {
  padding: 10px;
}

.dashboard-welcome{
   font-size: 1.3rem !important;

}
.card p {
  font-size: 0.75rem;
  margin: 0;
}

.icono-circular {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.95rem;
}

.view-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  color: #c4002f;
  text-decoration: none;
  padding-top: 6px;
  align-self: flex-start;
}

.quick-actions-section {
  margin-top: 30px;
}

.actions-grid {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-card {
  background: #fff;
  padding: 12px;
  width: 140px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media (max-width: 962px) {
  .restaurant-card {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .dashboard-container {
    padding: 10px;
  }
}
