.form-control-search {
  width: 300px;
  max-width: 200%;
}

.navbar-brand {
  flex: 1;
}
.wrapper-for {
  flex: 1;
  width: 150px;
}
.navbar-nav {
  flex: 1;
  justify-content: end;
  flex-direction: row !important;
}
.bi-bell {
  position: relative;
  font-size: 1.25rem;
  color: #343a40;
  margin-right: 1rem;
  cursor: pointer;
}

.notify-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background: #ff5d1d;
  border-radius: 50%;
}

.user-info {
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* .nav-item i {
  
  margin-right: 0.5rem;
  color: #ff5d1d;
} */

.bi-person-circle {
  height: 3rem;
  width: 2rem;
  color: #ff5d1d;
  margin-right: 1rem;
  align-items: center;
  display: flex;
}

/* .user-info .name {
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: #343a40;
} */

/* .user-info .role {
  margin: 0;
  font-size: 5rem;
  color: #6c757d;
} */

/* .container {
  display: flex;
  justify-content: center;
} */

/* .d-flex { 
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
} */

.gap-3 {
  gap: 2rem !important;
}

.name {
  font-size: 1.5rem;
}
.role {
  font-size: 1rem;
  font-weight: bold;
}
.gap-2 {
  margin-bottom: 0.5rem;
}

.restaurant {
  font-weight: bold;
}

.logout-row {
  flex-direction: row !important;
}
.logout-row > span {
  font-size: 14px;
}
.logout-column {
  flex-direction: column !important;
}
.logout-column > span {
  font-size: 12px;
}
.bi-person-circle::before {
    content: "\f4d7";
    font-size: 52px;
     }
@media (max-width: 767px) {
  .navbar-brand {
    flex: 1 0 50%;
    order: 1;
 }
  .wrapper-for {
    flex: 1;
    order: 3;
  }

  .wrapper-for #navbarContent {
    width: 50%;
  }
  .navbar-nav {
    flex: 1 0 45%;
    order: 2;
    flex-direction: row !important;
  }
  .logout-row {
    flex-direction: column !important;
  }
  .logout-row:hover > i {
    color: black !important;
  }
}
