.bg-orange {
  background-color: #ff7741;
}

button.bg-orange:hover {
  background-color: #f55d21;
}

.vh-90 {
  height: 90vh !important;
}
.vh-10 {
  height: 10vh !important;
}
.rtl-scroll {
  direction: rtl;
  text-align: left; 
}

.ltr-scroll{
 direction: ltr;
  text-align: left; 
}
